body{
    width:100%;
}
.sidenav {
    height: 100%;
    width: 10em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    float:left;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  
button{
    border-radius:0.5em;
    color: #4a4a4a;
    background-color: aliceblue;
    width:10em;
    height:3em;
    text-decoration: none;   
}
h a{
    text-decoration: none;
}
button{
    float:right;
    padding-top: 0.5em;
}
h1{
    float:left;
    padding-left:6em;    
}
button a{
    text-decoration: none;
}
h3 a{
    float:right;
    padding-left:5em;
    padding-right: 8em;
    text-decoration: none;
} 
.allcards{
    float:left;
    width:30%;
    display: grid;
}
img{
    float:left;
    width:25%;
    height:30%;
}
h2{
    padding-left:6em;
    padding-top: 0em;
}
p{
    padding-left:9em;
}
.others{
    width:30%;
    float:right;
    display: grid;
}
.others img{
    width:30%;
    height:30%;
}

@media(max-width: 768px)
 {body{
    width: 768px;
}
button{
    border-radius:0.5em;
    color: #4a4a4a;
    background-color: aliceblue;
    width:10em;
    height:3em;
    text-decoration: none;   
}
button{
    float:left;
}
h1{
    padding:0em;
    float:left;
}

h3{
    padding:0em;
   
} 
.allcards{
    position:fixed;
    float:left;
    width:40%;
}
img{
    display:none;
    
}
h2{
   padding :0em;
}
p{
    padding:0em;
}
.others{
    width:30%;
    float:left;
    display: none;
}
.another{
    width:30%;
    float:left;
    display:none;
}
.sidenav {
    display:none;
}
  
  }